

{% extends "base.html" %}
{% load static %}

{% block title %}Checkout{% endblock %}

{% block content %}
<div class="untree_co-section">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mb-5 mb-md-0">
                <h2 class="h3 mb-3 text-black">Billing Details</h2>
				<div class="p-3 p-lg-5 border bg-white">
					<form method="POST">
					{% csrf_token %}
						<div class="form-group row">
						<div class="col-md-6">
							<label class="text-black">First Name <span class="text-danger">*</span></label>
							<input type="text" class="form-control" name="first_name" id="first_name" value="{{ request.user.first_name }}">
						</div>
						<div class="col-md-6">
							<label class="text-black">Last Name <span class="text-danger">*</span></label>
							<input type="text" class="form-control" name="last_name" value="{{ request.user.last_name }}">
						</div>
						</div>

		    
						<div class="form-group row">
						<div class="col-md-12">
							<label class="text-black">Address <span class="text-danger">*</span></label>
							<input name="address" type="text" class="form-control" placeholder="Street address">
						</div>
						</div>
						<div class="form-group row">
						<div class="col-md-6">
							<label class="text-black">State / City<span class="text-danger">*</span></label>
							<input name="state" type="text" class="form-control">
						</div>
		
						</div>

						<div class="form-group row mb-5">
						<div class="col-md-6">
							<label class="text-black">Email Address <span class="text-danger">*</span></label>
							<input class="form-control" name="email" type="email" value="{{request.user.email}}">
						</div>
						<div class="col-md-6">
							<label class="text-black">Phone <span class="text-danger">*</span></label>
							<input class="form-control" name="phone" type="phone" placeholder="Phone Number">
						</div>
						</div>
						<div class="form-group">
							<button class="btn btn-black btn-lg py-3 btn-block" type="submit">Place Order</button>
						</div>
					</form>
		          </div>
            </div>
            <div class="col-md-6">
               

                <div class="row mb-5">
                    <div class="col-md-12">
                        <h2 class="h3 mb-3 text-black">Your Order Summary</h2>
						<div class="p-3 p-lg-5 border bg-white">
							<table class="table site-block-order-table mb-5">
							  <thead>
								<th>Product</th>
								<th>Total</th>
							  </thead>
							  {% if cart %}
							  {% for item in cart %} 
							  <tbody>
								<tr>
								  <td>{{ item.product.name }}<strong class="mx-2">x</strong>{{ item.quantity }}</td>
								  <td>&#8358;{{ item.total_price }}</td>
								</tr>
								{% endfor %}
							  {% endif %}
								<tr>
								  <td class="text-black font-weight-bold"><strong>Cart Subtotal</strong></td>
								  <td class="text-black">&#8358;{{ cart.get_total_cost}}</td>
								</tr>
								<tr>
								  <td class="text-black font-weight-bold"><strong>Order Total</strong></td>
								  <td class="text-black font-weight-bold"><strong>&#8358;{{ cart.get_total_cost }}</strong></td>
								</tr>
							  </tbody>
							  
							</table>
						</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

